<style type="text/css"> 
			body{

				width:100%;
			}
			
			#container{
				background-color:;
				height: ;
				width: auto;
				margin-Right: auto;
				margin-left: auto;
			}

			.header{
				background-color:#4aaaa5;
				color: #ffffff;
				font-family: 'Georgia', Times, Times New Roman, serif;
				display:inline-block;
				font-size: 40;
			}

			#nav {
				background-color: green;
				list-style-type: none;
				
				
			}
			#nav li{
				display: inline;

			}
			.background{
				background-color:#cccccc;
			}
			.content {
				height:25px;
				width:25px;
				background-color:#FFFFFF;
				display: inline-block;
				float:right;

			}		
			#biggercontent{
				width:500px;
			}	

			.photocontent{
				width:250px;
				height:200px;
			}
		</style>