<style type="text/css"> 
			body{

				width:100%;
			}
			
			#container{
				background-color:;
				height: ;
				width: auto;
				margin-Right: auto;
				margin-left: auto;
			}

			.header{ /* this is a good start! Use the chrome inspector tool to play with your css before you apply things like margins to your work. it's good practice to see what will happen before you apply it so that you don't waste a lot of time, too */
				background-color:#4aaaa5;
				color: #ffffff;
				font-family: 'Georgia', Times, Times New Roman, serif;
				display:inline-block;
				font-size: 40;
			}

			#nav {
				background-color: green;
				list-style-type: none;
				
				
			}
			#nav li{
				display: inline;

			}
			.background{
				background-color:#cccccc;
			}
			.content { 
				height:25px;
				width:25px;
				background-color:#FFFFFF;
				display: inline-block;
				float:right;

			}		
			#biggercontent{
				width:500px;
			}	

			.photocontent{
				width:250px;
				height:200px;
			}
		</style>